*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.main{
  width: 100%;
  height: 100vh;
  background-color: #552307;
  position: relative;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: 570px;
  background-position: right bottom;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  box-sizing: border-box;
  padding: 10px, 50px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, .05);
  z-index: 1;
}
menu{
  display: flex;
}
.menu li a{
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
}
.siteName{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.Logo img{
  width: 50px;
}
.menu li a:hover,.active{
  background-color: #29292929;
  font-weight: 700;
  transition: all ease 0.4s;
}
.hero{
  width: 650px;
  position: absolute;
  left: 10%;
  top: 33%;
  transition: translate(-10%,-33%);
  line-height: 60px;
}
.hero p:nth-child(1),.hero .details{
  color: #fff;
  font-size: 20px;
}
.details{
  line-height: 30px !important;
}
.hero h1{
  font-size: 40px;
  margin: 0;
  letter-spacing: 3px;
  color: #fff;
}
.hero span{
  color: orangered;
}
.download{
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.download:hover{
  background-color: #131313;
  transition: all ease 0.4s;
}